{% extends "base.html" %}

{% block title2 %}
    Über uns
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Über uns</h1>
        <p>
            Dies ist ein Projekt zur Entwicklung eines interaktiven Anwendungsprogramms zur Bewertung von Abschlussarbeiten mithilfe von Flask, Python und ChatGPT.
        </p>
        <p>
            Unser Ziel ist es, eine benutzerfreundliche Webanwendung zu erstellen, die Dozenten dabei unterstützt, Abschlussarbeiten zu verwalten und zu bewerten. Die Anwendung bietet Funktionen zum Anlegen, Bearbeiten und Löschen von Studenten und Abschlussarbeiten, zur Verwaltung von Bewertungskriterien und zur Berechnung von Durchschnittsnoten.
        </p>
        <p>
            Wir hoffen, dass diese Anwendung Dozenten und Lehrkräften dabei hilft, den Bewertungsprozess für Abschlussarbeiten effizienter und transparenter zu gestalten.
        </p>
    </div>
{% endblock %}
