
{% extends "base.html" %}

{%block content %}
    <h1>Studenten verwalten</h1>
    <form action="/student/create" method="post">
        <input type="text" name="student_name" placeholder="Name">
        <input type="text" name="matrikelnummer" placeholder="Matrikelnummer">
        <input type="email" name="email" placeholder="E-Mail-Adresse">
        <input type="submit" value="Erstellen">
    </form>

    <hr>

    <form action="/search" method="GET">
        <input type="text" name="search" placeholder="Nach Namen suchen">
        <input type="submit" value="Suchen">
    </form>

    <hr>

    <table>
        <tr>
            <th>Name</th>
            <th>Matrikelnummer</th>
            <th>E-Mail</th>
            <th>Aktionen</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.matrikelnummer }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="/student/{{ student.id }}">Detail</a>
                    <a href="/student/delete/{{ student.id }}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1>Abschlussarbeiten verwalten</h1>
    <form action="/thesis/create" method="post">
        <input type="text" name="title" placeholder="Titel">
        <select name="student_id">
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Erstellen">
    </form>

{% endblock %}