
{% extends "base.html" %}

{% block title2 %}
 Studenten-Detail - {{ student.name }}
{% endblock %}

{% block content %}

    <p>Matrikelnummer: {{ student.matrikelnummer }}</p>
    <p>E-Mail: {{ student.email }}</p>

    <h2>Thesen von {{ student.name }}</h2>
    <table>
        <tr>
            <th>Titel</th>
            <th>Student</th>
            <th>Aktionen</th>
        </tr>
        {% for thesis in theses %}
            <tr>
                <td>{{ thesis.title }}</td>
                <td>{{ thesis.student.name }}</td>
                <td>
                    <a href="/thesis/{{ thesis.id }}">Detail</a>
                    <a href="/thesis/delete/{{ thesis.id }}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Bearbeiten</h2>
    <form action="/student/edit/{{ student.id }}" method="post">
        <input type="text" name="name" placeholder="Name" value="{{ student.name }}">
        <input type="text" name="matrikelnummer" placeholder="Matrikelnummer" value="{{ student.matrikelnummer }}">
        <input type="email" name="email" placeholder="E-Mail-Adresse" value="{{ student.email }}">
        <input type="submit" value="Speichern">
    </form>

{% endblock %}